.container {
    border-radius: 3px !important;
}

.container .cancel {
    border-radius: 3px;
    border-color: var(--border-color);
    color: var(--text-dark-color) !important;
}

.container .ok {
    border-radius: 3px;
}

.container .cancel:hover {
    border-color: var(--border-color-hover) !important;
}