.container {
    background: #fff;
    padding: 6px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
}

.container .input {
    border: none !important;
    outline: none;
    box-shadow: none;
    height: 100%;
}

.container .button {
    color: var(---text-dark-color) !important;
    border-color: var(--border-color) !important;
    outline: none;
}

.container .button:hover {
    color: var(---text-dark-color) !important;
    border-color: var(--border-color-hover) !important;
}