.container {
    max-width: 100%;
    min-height: 40px;
    margin: 10px 0px;
    border-radius: 3px;
    background: #ffffff0e;
    cursor: grab;
}

.container.dragging {
    cursor: grabbing !important;
    opacity: 0.5;
}

.container .textContainer {
    padding: 8px 10px 2px 6px;
    position: relative;
}

.container .textContainer.taskList {
    padding: unset;
}

.container .textContainer .text {
    text-align: left;
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 14px;
    font-family: monospace;
    line-height: normal;
    padding: 2px 2px 2.5px;
    outline: none;
    direction: ltr;
}

.container .textContainer .text:empty:before {
    content: attr(data-text);
    -webkit-text-fill-color: #a19c9c;
}

.container.dragging .textContainer .text {
    cursor: grabbing !important;
}

.container:hover .textContainer>.actions {
    opacity: 1 !important;
    transition: 0.3s opacity;
}

.empty {
    max-width: 100%;
    min-height: 16px;
    height: 0;
    position: absolute;
    width: 260px;
    top: -10px;
}