.container {
    align-self: start;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container .title {
    margin: 0;
    cursor: text;
    font-size: 18px;
    outline: none;
    direction: ltr;
}

.container .title[contentEditable="true"] {
    direction: ltr;
}

.container .title:empty:before {
    content: attr(data-text);
    -webkit-text-fill-color: rgb(55, 55, 55);
}