.container {
border: none !important;
padding: 6px 0 !important;
}

.container .todo .checkbox :global(.ant-checkbox-inner){
    border-radius: 3px !important;
    border-color: var(--border-color) !important;
}

.container .todo .checkbox:hover :global(.ant-checkbox-inner){
    border-color: var(--border-color-hover) !important;
}

.container .todo .title {
    margin: 0 4px;
    color: var(---text-dark-color);
}

.container .todo .title.done {
    text-decoration: line-through;
    opacity: 0.5;
    transition: 0.2s opacity;
}

.container .remove {
    color: var(---text-dark-color);
}

.container .remove:hover {
    opacity: 0.5;
    transition: 0.3s opacity;
}