.container {
    display: flex;
    align-items: center;
}

.container.isSearch {
    margin-right: 16px;
}

.container .wrapper .input {
    width: 0px;
    opacity: 0;
    border: none;
    outline: none;
    background: transparent;
    transition: 0.3s width;
}

.container .wrapper .input.show {
    width: 150px;
    opacity: 1;
    margin-left: 8px;
}

.container .wrapper {
    position: relative;
}

.container .wrapper .close {
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    margin-left: 4px;
}