.modal :global(.ant-modal-content) {
    border-radius: 3px;
}

.modal .cancel {
    color: var(---text-dark-color) !important;
    border-color: var(--border-color) !important;
    outline: none;
    border-radius: 3px !important;
}

.modal .cancel:hover {
    color: var(---text-dark-color) !important;
    border-color: var(--border-color-hover) !important;
}

.modal .remove {
    outline: none;
    border-radius: 3px !important;
    background: transparent;
    color: #aa2828 !important;
    border-color: #e18585;
}

.modal .remove:hover {
    color: #aa2828 !important;
    border-color: var(--border-color-hover) !important;
    background: #f75757a1 !important;
}